body{

height: 550px;
left: 62px;
top: 64px;

background: #1F2937;


}
.content-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#überschrift{
font-family: 'Karla';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 40px;
color: #FFFFFF;
margin-bottom: 10px;


letter-spacing: -0.025em;
}
#überschrift-grün{
  color:#4ADF86
}
#satz{
font-family: 'Inter';
font-style: normal;
font-size: 20px;
line-height: 28px;

margin-top: 0;
color: #D5D4D8;
margin-bottom: 60px;


}
#button{
font-family: 'Inter';
font-weight: 500;
font-size: 16px;
line-height: 24px;
padding: 5px 14px;
border-radius: 10px;
border:none;
background: #10B981;
}

#random-passwort1,#random-passwort2{
  padding: 10px ;
font-family: 'Inter';
font-weight: 500;
font-size: 16px;
line-height: 32px;
text-align: center;
background: #273549;
color: #55F991;
}
.password-div{
max-widthwidth: 211px;
height: 39px;
margin: 5px 5px 0 0;

}
.flex-div{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
